*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/release/output-metadata.json
/app/debug/talk-app-v0.0.1-d.apk
/app/release/talk-app-v0.0.1-rd.apk
/talk_key.jks
/app/key-store/talk_key.jks
*.apk
